<!-- Sign Up box -->
<div class="container" style="margin-top: 100px;">
  <div class="row">
    <div class="col-lg-4 offset-lg-4 col-12 offset-0">
      <div class="card border-primary mb-3">
        <div class="card-header">Sign Up</div>
        <!-- Body -->
        <div class="card-body text-primary">
          <!-- Form -->
          <form id="signup-form" method="post">
            <!-- Username -->
            <div class="form-group has-feedback">
              <i class="fas fa-user"></i>
              <input type="text" id="signup-username" name="signup-username" class="form-control" placeholder="Username" required>
            </div>  <!-- .Username -->

            <!-- email -->
            <div class="form-group has-feedback">
              <i class="fas fa-at"></i>
              <input type="text" id="signup-email" name="signup-email" class="form-control" placeholder="Email" required>
            </div>  <!-- .email -->

            <!-- Password -->
            <div class="form-group has-feedback">
              <i class="fas fa-lock"></i>
              <input type="password" id="signup-password" name="signup-password" class="form-control" placeholder="Password" required>
            </div>  <!-- .Password -->

            <!-- Repeat password -->
            <div class="form-group has-feedback">
              <i class="fas fa-lock"></i>
              <input type="password" id="signup-repeat-password" name="signup-repeat-password" class="form-control" placeholder="Repeat password" required>
            </div>  <!-- .Repeat password -->

            <!-- Button -->
            <div class="row float-right">
              <div class="col-12">
                <button type="button" id="signup-btn" class="btn btn-primary btn-block btn-flat" onclick="createUser()">Sign up</button>
              </div>
            </div>  <!-- .Button -->
          </form>  <!-- .Form -->
        </div>  <!-- .Body -->
      </div>
    </div>
  </div>
</div>  <!-- .Sign Up box -->

<script type="text/javascript" src="/components/crypto-js/crypto-js.js"></script>
<script type="text/javascript" src="/javascripts/session.js"></script>