body {
    margin: 0 0 60px; /* bottom = footer height */
    padding: 0px;
}
footer {    
    background-color: #333;
    color: #fff;
    left: 0;
    min-height: 60px;
    padding: 40px 0px;
    position: absolute;
    overflow:hidden;
    width: 100%;
}
div {
    position: relative;
}
html {    
    margin: 0px;
    min-height: 100%;    
    padding: 0px;
    position: relative;
}

.line {
    background-color: #ccc;
    height: 1px;
    width: 100%;
}
