<script type="text/javascript">
  const existingNameErrorCode = +"<%= fns.getErrorCode('EXISTING_MODEL_NAME') %>"
</script>

<!-- Page Content -->
<div class="container-fluid">

  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Modelos 3D</h1>
    <a href="" class="d-none d-sm-inline-block btn btn-sm btn-success shadow-sm btn-icon-split" data-toggle="modal" data-target="#upload-modal">
      <span class="icon text-white-50">
        <i class="fas fa-upload"></i>
      </span>
      <span class="text">Subir modelo</span>
    </a>
  </div>  <!-- .Page Heading -->

  <!-- Models -->
  <div id="models-list" class="row">
  </div>  <!-- .Models -->
</div>  <!-- .container-fluid -->

<!-- Upload modal -->
<div class="modal fade" id="upload-modal" tabindex="-1" role="dialog" aria-labelledby="upload-modal-label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <!-- Modal header -->
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Subir fichero</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>  <!-- .Modal header -->

      <!-- Modal body -->
      <div class="modal-body">
        <form id="upload-form">
          <div class="form-group">
            <label for="model-name">Nombre</label>
            <input type="text" class="form-control" id="model-name" name="model-name">
            <div class="form-group-error" data-err="Se debe rellenar el nombre del fichero"><small class="form-text text-danger"></small></div>
          </div>
          <div class="form-group">
            <label for="model-file">Fichero glb</label>
            <input type="file" class="form-control-file" id="model-file" name="model-file" accept=".glb">
            <div class="form-group-error" data-err="Se debe proporcionar un fichero"><small class="form-text text-danger"></small></div>
          </div>
        </form>
      </div>   <!-- .Modal body -->

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <button id="upload-btn" type="submit" class="btn btn-primary" onclick="uploadFile()">Subir</button>
      </div>  <!-- .Modal footer -->
    </div>
  </div>
</div>  <!-- .Upload modal -->

<!-- Three JS -->
<script type="text/javascript" src="/components/three/build/three.min.js"></script>
<script type="text/javascript" src="/components/three/examples/js/controls/OrbitControls.js"></script>
<script type="text/javascript" src="/components/three/examples/js/WebGL.js"></script>
<script type="text/javascript" src="/components/three/examples/js/loaders/GLTFLoader.js"></script>

<script id="template" type="notjs">
    <div class="model-title clearfix">
      <a class="float-left" href="/profile/models/$name">$name</a>
      <div class="dropdown no-arrow float-right">
        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
          <div class="dropdown-header">Acciones:</div>
          <a class="dropdown-item" href="#">Borrar modelo</a>
        </div>
      </div>
    </div>
    <div class="model-body"></div>
</script>

<!-- Custom JS -->
<script type="text/javascript" src="/javascripts/models.js"></script>
<script type="text/javascript" src="/javascripts/showModels.js"></script>
